<div  class="background-photo bg-image" style="padding-top: 50px;">
<div class="form-container"  style="padding: 50px; background-color: white; width: 50%; min-height: 500px; font-family: Verdana, Geneva, Tahoma, sans-serif;  border-radius: 10%; border-color: rgb(226, 226, 226);">
  <h4 style="color: #3f0626; font-family: Merriweather; font-weight: 900;">Sign up</h4>
  <form [formGroup]="registerForm" (ngSubmit)="onRegisterAttempt()">
    <div class="form-group">
      <label  for="firstName">First name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        placeholder="Enter your first name"
        required
        autocomplete="off"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="firstName">Last name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Enter your last name"
        required
        autocomplete="off"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label  for="name">Username</label>
      <input
        type="text"
        id="name"
        name="username"
        placeholder="Enter your name"
        required
        autocomplete="off"
        formControlName="username"
      />
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input
        type="text"
        id="country"
        name="country"
        placeholder="Enter your country"
        required
        autocomplete="off"
        formControlName="country"
      />
    </div>

    <div class="form-group">
      <label  for="age">Age</label>
      <input
        type="number"
        min="8"
        max="100"
        id="age"
        name="age"
        placeholder="Enter your age"
        required
        autocomplete="off"
        formControlName="age"
      />
    </div>

    <div class="form-group">
      <label  for="Email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label  for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
        formControlName="password"
      />
    </div>
    <button style="background-color: rgb(108, 83, 112);  font-family: Merriweather; font-weight: 900;" type="submit" class="submit-btn">Registration</button>
  </form>
   
    <p style="padding-left: 10px;  font-family: Merriweather; font-weight: 900; ">Already have account? <a href="/sign-in">Login</a></p>
</div>

</div>
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); font-size: 14px; font-family: Merriweather; font-weight: 500; ">
    © 2020 Copyright:
    <a class="text-body" href="">Akerke Orynbasarova IT-2207</a>
  </div>
  <!-- Copyright -->
</footer>