<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 100px;">
<div style="max-width: 40%; min-height: 50%;" class="news-wrapper border pt-10" tuiPlatform="web">
  <div tuiCardLarge tuiSurface="elevated">
    <header tuiHeader>
      <h2 tuiTitle class="center-title">{{ artwork.name }}</h2>
    </header>
    <section>
      <tui-carousel [duration]="3500" [(index)]="index">
        <ng-container *ngFor="let file of artwork.downloadLinks">
          <tui-island
            *tuiItem
            style="display: flex; justify-content: center; align-items: center;"
          >
            <img
              [src]="file"
              alt="_blank"
              loading="lazy"
              style="width: 500px; "
            />
          </tui-island>
        </ng-container>
      </tui-carousel>
      <tui-pagination
        size="s"
        class="pagination"
        [length]="artwork.downloadLinks.length"
        [(index)]="index"
      ></tui-pagination>
      <div>Description: {{ artwork.description }}</div>
      <div class="float-right" *ngIf="isAdmin">
        <div>
          {{ "Published at: " + (artwork.createdAt | date) }}
        </div>
        <div class="edit-icons">
          <tui-svg src="tuiIconEdit" title="Edit news" (click)="link.click()">
            <a
              hidden
              [routerLink]="'/artworks/update/' + artwork._id"
              #link
            ></a>
          </tui-svg>

          <tui-svg
            src="tuiIconXCircle"
            title="Delete news "
            (click)="deleteArt()"
          >
          </tui-svg>
        </div>
      </div>
    </section>
  </div>
</div>
</div>