<div>
  <button
    *ngIf="isAdmin"
    size="m"
    tuiButton
    appearance="accent"
    class="tui-form__button pt-3"
    [class.tui-skeleton_light]="false"
    [class.tui-skeleton]="false"
    (click)="navigate('/artworks/create')"
  >
    Add artwork
  </button>
  <button
    src="tuiIconPlusCircleLarge"
    size="m"
    tuiButton
    appearance="primary"
    class="tui-form__button pt-3"
    [class.tui-skeleton_light]="false"
    [class.tui-skeleton]="false"
    (click)="navigate('/charts/population')"
  >
    Population charts
  </button>
  <button
    src="tuiIconPlusCircleLarge"
    size="m"
    tuiButton
    appearance="primary"
    class="tui-form__button pt-3"
    [class.tui-skeleton_light]="false"
    [class.tui-skeleton]="false"
    (click)="navigate('/charts/hospitalized/counts')"
  >
    Hospitalized count charts
  </button>
</div>
<div style="padding-left: 25%; padding-top: 5%;">
<div *ngIf="isLoaded">
  <form [formGroup]="rangeForm" class="xsa">
    Range from
    <tui-input style="margin-bottom: 15px;" formControlName="yearFrom" tuiHintContent="Name">
      Name
      <input tuiTextfield [required]="true" type="number" />
      <span class="tui-required"></span>
    </tui-input>
    <tui-input style="margin-bottom: 15px;" formControlName="yearTo" tuiHintContent="Name">
      Name
      <input tuiTextfield [required]="true" type="number" />
      <span class="tui-required"></span>
    </tui-input>
  </form>
</div>
<div id="chart">
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [stroke]="chartOptions.stroke!"
    [title]="chartOptions.title!"
  ></apx-chart>
</div>
</div>